html,
body {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    box-sizing: border-box;
}

.container {
    max-width: 874px;
    margin-inline: auto;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.py-5 {
    padding-block: 25px;
}

.mb-0 {
    margin-bottom: 0px;
}

.my-0 {
    margin-block: 0px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .container {
        max-width: 100%;
        padding-inline: 25px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}